<div class="row">

  <div class="col-2">
    <div class="nav flex-column nav-pills">
      <a class="nav-link" [ngClass]="{ 'active': (action == 'marks') }" href (click)="setTab('marks')">Marks</a>
      <a class="nav-link" [ngClass]="{ 'active': (action == 'balances') }" href (click)="setTab('balances')">Balances</a>
    </div>
  </div>

  <div class="col-9">
    <h3>{{ account?.Name }}</h3>

    <div *ngIf="chart" class="p-3 border rounded">
      <canvas id="canvas">{{ chart }}</canvas>
    </div>
  </div>

</div>